@model WorkSafeWebSite.Models.WSNotice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WSNotice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.business_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.business_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.business_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.business_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.industry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.industry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_Issued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_Issued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.issued_To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.issued_To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notice_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notice_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdf_URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdf_URL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
