@model IEnumerable<WorkSafeWebSite.Models.PCBU>

@{
    ViewData["Title"] = "Found Businesses";
   
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.business_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.business_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.industry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.business_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.business_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.industry)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="ViewCompanyNotices" asp-route-id="@item.Id">View Company Notices</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
