@model IEnumerable<WorkSafeWebSite.Models.PCBU>

@{
    ViewData["Title"] = "Found Businesses";
}

<head>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZM6DB3');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="WorkSafe is New Zealand’s primary workplace health and safety regulator." />
    <meta name="author" content="WorkSafe New Zealand" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7083976/7810172/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-f962a90.css" media="screen" />
</head>

<body onload="change_title('Public Register Enforcement Notices')">
    <br />
    <h3>Search Results</h3>

    <form asp-controller="WSNotices" asp-action="ShowSearchResults" class="row row-cols-lg-auto g-3 align-items-center">

        <div class="row" id="SearchOptions">
            <div class="col-md-7" id="AutoComplete">
                <label for="SearchBusiness" class="control-label"></label>
                <input name="Search_Phrase" class="form-control" id="myInput" type="text" placeholder="Search by keyword, company, hazard, notice no." required>
            </div>

            <div class="col-md-3" id="DropdownLocation">
                <label for="Chooselocation" class="control-label"></label>
                <select name="Search_Location" class="form-control" id="Location">
                    <option value="All" selected="selected">
                        All Locations
                    </option>

                    <option value="Auckland">
                        Auckland
                    </option>

                    <option value="Wellington">
                        Wellington
                    </option>

                    <option value="Christchurch">
                        Christchurch
                    </option>

                    <option value="Hamilton">
                        Hamilton
                    </option>

                    <option value="Tauranga">
                        Tauranga
                    </option>
                </select>
            </div>

            <div class="col-md-1" id="GoBtn">
                <button type="submit" value="Search" class="action search-form__submit">
                    <svg class="menu-button__icon" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="#1A1919" stroke-width="2.158" fill="none" fill-rule="evenodd">
                            <path d="M13.6 21a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path>
                            <path d="M19.6 19l5 5" stroke-linecap="round"></path>
                        </g>
                    </svg>
                </button>
            </div>

            <div class="col-md-4" id="filterIndustry">
                <select name="Search_Industry" class="form-control" id="Industry">
                    <option value="Any" selected="selected">
                        Industry
                    </option>

                    <option value="Administration and support services">
                        Administration and support services
                    </option>

                    <option value="Adventure activities">
                        Adventure activities
                    </option>

                    <option value="Agriculture">
                        Agriculture
                    </option>

                    <option value="Arts and recreation">
                        Arts and recreation
                    </option>

                    <option value="Building and construction">
                        Building and construction
                    </option>

                    <option value="Consumer">
                        Consumer
                    </option>

                    <option value="Education and training">
                        Education and training
                    </option>

                    <option value="Energy">
                        Energy
                    </option>

                    <option value="Extractives">
                        Extractives
                    </option>

                    <option value="Fishing, hunting and trapping">
                        Fishing, hunting and trapping
                    </option>

                    <option value="Forestry">
                        Forestry
                    </option>

                    <option value="Geothermal">
                        Geothermal
                    </option>

                    <option value="Health care and social assistance">
                        Health care and social assistance
                    </option>

                    <option value="High hazards">
                        High hazards
                    </option>

                    <option value="Hospitality">
                        Hospitality
                    </option>

                    <option value="Major hazard facilities">
                        Major hazard facilities
                    </option>

                    <option value="Manufacturing">
                        Manufacturing
                    </option>

                    <option value="Mining">
                        Mining
                    </option>

                    <option value="Occupational diving">
                        Occupational diving
                    </option>

                    <option value="Ports">
                        Ports
                    </option>

                    <option value="Petroleum">
                        Petroleum
                    </option>

                    <option value="Postal, transport and warehousing">
                        Postal, transport and warehousing
                    </option>

                    <option value="Public administration and safety">
                        Public administration and safety
                    </option>

                    <option value="Public sector">
                        Public sector
                    </option>

                    <option value="Quarrying">
                        Quarrying
                    </option>

                    <option value="Rental, hiring and real estate">
                        Rental, hiring and real estate
                    </option>

                    <option value="Retail">
                        Retail
                    </option>

                    <option value="Tunnelling">
                        Tunnelling
                    </option>

                    <option value="Waste services">
                        Waste services
                    </option>

                    <option value="Water services">
                        Water services
                    </option>

                    <option value="Wholesale trade">
                        Wholesale trade
                    </option>

                </select>
            </div>
            <div class="col-md-4" id="filterTopics">
                <select name="Search_Topic" class="form-control" id="Topic">
                    <option value="not" selected="selected">
                        Topic
                    </option>

                    <option value="Air quality">
                        Air quality
                    </option>

                    <option value="Building restraint">
                        Building restraint
                    </option>

                    <option value="Amusement devices">
                        Amusement devices
                    </option>

                    <option value="Asbestos">
                        Asbestos
                    </option>

                    <option value="Biological">
                        Biological
                    </option>

                    <option value="Boilers">
                        Boilers
                    </option>

                    <option value="Bullying">
                        Bullying
                    </option>

                    <option value="Burns">
                        Burns
                    </option>

                    <option value="Canterbury rebuild">
                        Canterbury rebuild
                    </option>

                    <option value="Chainsaws">
                        Chainsaws
                    </option>

                    <option value="Chemicals">
                        Chemicals
                    </option>

                    <option value="Children and young people on farms">
                        Children and young people on farms
                    </option>

                    <option value="Clean air">
                        Clean air
                    </option>

                    <option value="Clean air - carbon monoxide">
                        Clean air - carbon monoxide
                    </option>

                    <option value="Clean air - dust">
                        Clean air - dust
                    </option>

                    <option value="Clean air - silica dust">
                        Clean air - silica dust
                    </option>

                    <option value="Compressed air">
                        Compressed air
                    </option>

                    <option value="Confined space">
                        Confined space
                    </option>

                    <option value="Corporate">
                        Corporate
                    </option>

                    <option value="Cranes">
                        Cranes
                    </option>

                    <option value="Cuts and lacerations">
                        Cuts and lacerations
                    </option>

                    <option value="Demolition">
                        Demolition
                    </option>

                    <option value="Disease">
                        Disease
                    </option>

                    <option value="Drugs and alcohol">
                        Drugs and alcohol
                    </option>

                    <option value="Electricity">
                        Electricity
                    </option>

                    <option value="Emergency procedures">
                        Emergency procedures
                    </option>

                    <option value="Ergonomics">
                        Ergonomics
                    </option>

                    <option value="Excavations">
                        Excavations
                    </option>

                    <option value="Explosives">
                        Explosives
                    </option>

                    <option value="Exposure monitoring">
                        Exposure monitoring
                    </option>

                    <option value="Eye safety">
                        Eye safety
                    </option>

                    <option value="Fatigue">
                        Fatigue
                    </option>

                    <option value="First aid">
                        First aid
                    </option>

                    <option value="Forklifts">
                        Forklifts
                    </option>

                    <option value="Fuel">
                        Fuel
                    </option>

                    <option value="Fumigation">
                        Fumigation
                    </option>

                    <option value="Gas">
                        Gas
                    </option>

                    <option value="Hazardous substances">
                        Hazardous substances
                    </option>

                    <option value="Hazardous substances - insecticides">
                        Hazardous substances - insecticides
                    </option>

                    <option value="Health and safety at work">
                        Health and safety at work
                    </option>

                    <option value="Health monitoring">
                        Health monitoring
                    </option>

                    <option value="Hot work">
                        Hot work
                    </option>

                    <option value="Legionnaires disease">
                        Legionnaires disease
                    </option>

                    <option value="Leptospirosis">
                        Leptospirosis
                    </option>

                    <option value="Logging">
                        Logging
                    </option>

                    <option value="Machinery">
                        Machinery
                    </option>

                    <option value="Machine guarding">
                        Machine guarding
                    </option>

                    <option value="Manual handling">
                        Manual handling
                    </option>

                    <option value="Manual tree felling">
                        Manual tree felling
                    </option>

                    <option value="Noise">
                        Noise
                    </option>

                    <option value="Noise - hearing loss">
                        Noise - hearing loss
                    </option>

                    <option value="Personal protective equipment">
                        Personal protective equipment
                    </option>

                    <option value="Petroleum">
                        Petroleum
                    </option>

                    <option value="Plant">
                        Plant
                    </option>

                    <option value="Plant and equipment">
                        Plant and equipment
                    </option>

                    <option value="Pyrotechnics">
                        Pyrotechnics
                    </option>

                    <option value="Quad bikes">
                        Quad bikes
                    </option>

                    <option value="Respiratory protective equipment">
                        Respiratory protective equipment
                    </option>

                    <option value="Safe use of guns">
                        Safe use of guns
                    </option>

                    <option value="Slips trips and falls">
                        Slips trips and falls
                    </option>

                    <option value="Staying safe on farms">
                        Staying safe on farms
                    </option>

                    <option value="Stress">
                        Stress
                    </option>

                    <option value="Traffic management">
                        Traffic management
                    </option>

                    <option value="Vehicles">
                        Vehicles
                    </option>

                    <option value="Vibration">
                        Vibration
                    </option>

                    <option value="Violence">
                        Violence
                    </option>

                    <option value="Welding">
                        Welding
                    </option>

                    <option value="Woodworking">
                        Woodworking
                    </option>

                    <option value="Worker engagement, participation and representation">
                        Worker engagement, participation and representation
                    </option>

                    <option value="Working at height">
                        Working at height
                    </option>

                    <option value="Working at height - ladders">
                        Working at height - ladders
                    </option>

                    <option value="Working at height - scaffolding">
                        Working at height - scaffolding
                    </option>

                    <option value="Working at height - roofs">
                        Working at height - roofs
                    </option>

                    <option value="Work-related health">
                        Work-related health
                    </option>

                    <option value="Working with animals">
                        Working with animals
                    </option>

                    <option value="Zoonosis">
                        Zoonosis
                    </option>


                </select>
            </div>
            <div class="col-md-2" id="filterNoticeType">
                <select name="FilterNotices" class="form-control" id="filterNoticeType">
                    <option value="All" selected="selected">
                        All Notice Types
                    </option>

                    <option value="Improvement">
                        Improvement Notice
                    </option>

                    <option value="Prohibtion">
                        Prohibition Notice
                    </option>

                </select>
            </div>

        </div>
    </form>
    <div><br /></div>

    <div class="rowSorting" id="SortingOptions">
        <div class="col-md-8" style="display: inline">
            <label class="control-label">Sorting by: </label>
            <select name="SortDate" id="sortByDate">
                <option value="default" selected="selected">
                    Most Recent
                </option>
                <option value="reverse">
                    Sort by Time
                </option>
            </select>
        </div>
        <div class="col-md-8" style="display: inline">
            <label class="control-label">Showing result from: </label>
            <select name="SortDate" id="sortByDate">
                <option value="default" selected="selected">
                    Latest 12 months
                </option>
                <option value="reverse">
                    Latest 6 months
                </option>
                <option value="reverse">
                    Latest 3 months
                </option>
            </select>
        </div>
    </div>

    <div><br /></div>
    <!--Hide Create function
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    -->
    
    <!--flowing are old search result table to be changed with business cards-->
    <table>
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                
                <tr>
                    <div class="rowBusinessCards">
                        <div class="card">
                            <div class="row">
                                <div class="col-10"><a asp-action="ViewCompanyNotices" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.business_Name)</a></div>
                                <div class="col-2">Buisness Number: @Html.DisplayFor(modelItem => item.business_Number)</div>

                                <div class="col-6">Industry: @Html.DisplayFor(modelItem => item.industry)</div>
                                <div class="col-3">Region: @Html.DisplayFor(modelItem => item.location)</div>

                            </div>
                        </div>
                    </div>
                    <div><br /></div>
                </tr>
            }

        </tbody>
    </table>

</body>
