@model WorkSafeWebSite.Models.WSNotice

@{
    ViewData["Title"] = "Notice Details";
}

<head>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZM6DB3');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="description" content="WorkSafe is New Zealand’s primary workplace health and safety regulator." />
    <meta name="author" content="WorkSafe New Zealand" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7083976/7810172/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-f962a90.css" media="screen" />
</head>

<h2>Notice Details</h2>  
<br />

<label style="text-align:left;">Company : @Html.DisplayFor(modelItem => Model.business_Name) </label>

<span style="float:right;">
    <h2>Infringements</h2>
    <h2>@Html.DisplayFor(modelItem => Model.infringements) </h2>
    <label>Last Inspection: @Html.DisplayFor(modelItem => Model.last_inspection) </label>

</span>
    <br />

    <label>Business number : @Html.DisplayFor(modelItem => Model.business_Number) </label>
    <br />

    <label>Location : @Html.DisplayFor(modelItem => Model.location) </label>
    <br />

    <label>Industry : @Html.DisplayFor(modelItem => Model.industry) </label>
    <br />
    <br />

    <h2>Current Notices</h2>
    <br />

    <label>Status : @Html.DisplayFor(modelItem => Model.current_notice_status) </label>
    <span style="float:right;">
        <label>Isued: @Html.DisplayFor(modelItem => Model.date_Issued) </label>
        <br />
        <label>
            Improvement Notice: @Html.DisplayFor(modelItem => Model.improvement_notice)
            @if (Model.improvement_notice == "site reopened")
            {
                <img src="~/resources/images/green_circle.svg" />
            }
            else
            {
                <img src="~/resources/images/Red_Circle(small).svg" />
            }
        </label>
    </span>
    <br />

    <label>notice_Type : @Html.DisplayFor(modelItem => Model.pdf_URL)</label>
    <br />
    <a href='@Url.Content("~/PDF_Folder/"+ Model.pdf_URL)' target="_blank">
        Download Current Notice
    </a>
    <br />
    <br />

    <h2>Resolved</h2>
    <br />

    <label>Status : @Html.DisplayFor(modelItem => Model.current_resolve_status) </label>
    <span style="float:right;">
        <label>Isued: @Html.DisplayFor(modelItem => Model.resolved_date) </label>
        <br />
        <label>Improvement Notice: @Html.DisplayFor(modelItem => Model.improvement_notice) </label>
    </span>
    <br />
    <label>notice_Type : @Html.DisplayFor(modelItem => Model.resolved_pdf_URL)</label>
    <br />
    <a href='@Url.Content("~/PDF_Folder/"+ Model.resolved_pdf_URL)' target="_blank">
        Download Current Notice
    </a>







